<div class='mf-overlay-container' *ngIf='isOpen'>
  <div class='mf-overlay' (click)='close()'></div>
</div>

<div>
  <div class='mf-select-selected' (click)='open()'>
    <span *ngIf='!model'>{{ placeholder }}</span>
    <span *ngIf='model'>
      <ng-template #defaultSelectedTemplate>
        <span>{{ getLabel(model) }}</span>
      </ng-template>
      <ng-container
        [ngTemplateOutlet]='selectedTemplate || defaultSelectedTemplate'
        [ngTemplateOutletContext]='{ select: this, selected: model }'
      ></ng-container>
    </span>
    <span class='mf-icons'>
      <i class='mf-clear' *ngIf='model' (click)='selectItem(null); $event.stopPropagation()'></i>
      <i class='mf-caret'></i>
    </span>
  </div>
  <div class='mf-select-dropdown' #dropdownPanel
    [class.top]='currentDropdownPosition === "top"'
    [class.bottom]='currentDropdownPosition === "bottom"'
    [ngStyle]='{ visibility: isOpen ? "visible": "hidden"}'
    [style.width]='dropdownWidth + "px"'
  >
    <div class='mf-search-container'>
      <div [style.margin-right]='searchTemplateLeft ? "10px" : ""'>
        <ng-container
          [ngTemplateOutlet]='searchTemplateLeft'
          [ngTemplateOutletContext]='{ select: this }'
        ></ng-container>
      </div>
      <input #searchInput
        type='search'
        placeholder='Search...'
        (input)='onSearch(searchInput.value)'
      />
      <!-- To make this better we could make the search input a separate component/directive in order to "get" it in this component. -->
      <div [style.margin-left]='searchTemplateRight ? "10px" : ""'>
        <ng-container
          [ngTemplateOutlet]='searchTemplateRight'
          [ngTemplateOutletContext]='{ select: this }'
        ></ng-container>
      </div>
    </div>

    <virtual-scroll class='mf-option-container'
      [bufferAmount]='4'
      [items]='filteredItems'
      [scrollAnimationTime]='500'
      (update)='viewPortItems = $event'
    >
      <div class='mf-option' role='option' (click)='selectItem(item)' (mousedown)='$event.preventDefault()'
        *ngFor='let item of viewPortItems;'
        [class.marked]='item === this.filteredItems[markedItem]'
      >
        <ng-template #defaultOptionTemplate>
          <div [innerHTML]='getLabel(item)' [mfOptionHighlight]='searchTerm'></div>
        </ng-template>
        <ng-container
          [ngTemplateOutlet]='optionTemplate || defaultOptionTemplate'
          [ngTemplateOutletContext]='{ select: this, item: item }'
        ></ng-container>
      </div>
    </virtual-scroll>
  </div>
</div>



