<div class='select' [ngClass]='{ "open": isOpen }'>
  <div class='select-selected' (click)='toggle()'>
    <span class='placeholder' *ngIf='!model'>Select...</span>
    <span>{{ model }}</span>
    <i class='fa fa-caret-down'></i>
  </div>
  <div class='select-dropdown' [ngStyle]='{ visibility: isOpen ? "visible": "hidden"}'>
    <input #searchInput
      class='select-search'
      type='search'
      placeholder='Search...'
      [value]='search'
      (input)='onSearch(searchInput.value)'
    />
    <virtual-scroll class="option-container"
        [bufferAmount]="4"
        [items]="filteredItems"
        [scrollAnimationTime]='500'
        (update)="viewPortItems = $event"
    >
        <div class="option" role="option" (click)="selectItem(item)" (mousedown)="$event.preventDefault()"
            *ngFor="let item of viewPortItems;"
            [class.disabled]="false"
            [class.marked]="item === this.filteredItems[markedItem]"
            [mfOptionHighlight]="search"
            [innerHTML] = 'item'
        >
        </div>
    </virtual-scroll>
  </div>
</div>



