open: {{ isOpen }}
<div class='select' [ngClass]='{ "open": isOpen }'>
  <div class='select-selected' (click)='toggle()'>
    <span class='placeholder'>Select...</span>
    <i class='fa fa-caret-down'></i>
  </div>
  <div class='select-dropdown' [hidden]='!isOpen'>
    <input #searchInput
      class='select-search'
      type='text'
      placeholder='Search...'
      [value]='search'
      (input)='onSearch(searchInput.value)'
    />
    <virtual-scroll class="option-container" [bufferAmount]="4" [items]="filteredItems" (update)="viewPortItems = $event">
        <div class="option" role="option" (click)="toggleItem(item)" (mousedown)="$event.preventDefault()" (mouseover)="false && onItemHover(item)"
            *ngFor="let item of viewPortItems"
        >
        {{ item }}

            <!-- <ng-template #defaultOptionTemplate>
                <span class="ng-option-label" [innerHTML]="item" ></span>
            </ng-template>

            <ng-template
                [ngTemplateOutlet]="optionTemplate || defaultOptionTemplate"
                [ngTemplateOutletContext]="{ item: item.value, index: item.index, searchTerm: filterValue }">
            </ng-template> -->
        </div>

        <!-- <div class="ng-option" [class.marked]="!itemsList.markedItem" (mouseover)="itemsList.unmarkItem()" role="option" (click)="selectTag()" *ngIf="showAddTag()">
            <span><span class="ng-tag-label">{{addTagText}}</span>"{{filterValue}}"</span>
        </div> -->
    </virtual-scroll>
  </div>
</div>

<!-- [disabled]="disableVirtualScroll"  -->
<!-- [ngOptionHighlight]="filterValue" -->


         <!-- [class.disabled]="item.disabled"
         [class.selected]="item.selected"
         [class.marked]="item === itemsList.markedItem" -->
